node_modules/
.env
.env.local
*.log
dist/
.DS_Store
*.apk
*.apk.*
mobile/build/
mobile/ios/Pods/
mobile/ios/Flutter/ephemeral/
mobile/.packages
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
backend/uploads/profiles/*
!backend/uploads/profiles/.gitkeep
backend/uploads/*
!backend/uploads/.gitkeep
frontend/dist/
.vercel
