node_modules/
.env
.env.local
*.log
dist/
.DS_Store
*.apk
*.apk.*
mobile/build/
mobile/ios/Pods/
mobile/ios/Flutter/ephemeral/
mobile/.packages
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
backend/uploads/*
!backend/uploads/.gitkeep
!backend/uploads/profiles/
backend/uploads/profiles/*
!backend/uploads/profiles/.gitkeep
!backend/uploads/profiles/trainer-arif.jpeg
!backend/uploads/profiles/trainer-fadhel.jpeg
!backend/uploads/profiles/trainer-gusti.jpeg
frontend/dist/
.vercel

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
